<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-lg="65" fxFlex.gt-md="70" fxFlex.gt-xs="100" fxFlex="100">
    <app-sales-overview></app-sales-overview>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-lg="35" fxFlex.gt-md="30" fxFlex.gt-xs="100" fxFlex="100">
    <app-our-visiter></app-our-visiter>
  </div>
  <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Image Card row-->

<div fxLayout="row wrap">
   
  <div fxFlex.gt-lg="25" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
    <app-profile></app-profile>
  </div>

</div>
